extends layout

block content
  h1= title
  p Welcome to #{title}

//- html
//-   head
//-     title Counter Example
//-   body
    h1 Counter: #{counter}
    form(action="/increment" method="GET")
      button(type="submit") Increment
